*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* FIRST SECTION STYLING */

.first-section {
  background-color: #1F2937;
}

.logo,
.main-text,
button,
.placeholder {
  color: #F9FAF8;
}

.logo,
.main-text {
  font-weight: 900;  
}

.logo {
  font-size: 24px;
}

.links,
.secondary-text,
button,
.placeholder {
  font-size: 18px;
}

.links,
.secondary-text {
  color: #E5E7EB;
}

.links {
  list-style: none;
}

.main-text {
  font-size: 48px;
}

button {
  background-color: #3882F6;
  border-radius: 8px;
  border: none;
  font-weight: 700;
}

.placeholder {
  background-color: #808080;
}

/* FIRST SECTION ARRANGEMENT */

.first-section {
  display: flex;
  flex-direction: column;
  padding: 30px 200px 130px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}

.links {
  display: flex;
  gap: 30px;
}

.hero {
  display: flex;
}

.left,
.right {
  width: 50%;
}

.secondary-text {
  padding-bottom: 13px;
}

button {
  padding: 8px 33px;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* SECOND SECTION STYLING */

.information {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.image {
  border: 4px solid #3882F6;
  border-radius: 15px;
}

.subtext {
  font-size: 18px;
  color: #666666;
}

/* SECOND SECTION ARRANGEMENT */

.second-section {
  padding: 45px 200px 130px;
}

.information,
.subtext {
  text-align: center; 
}

.information {
  margin-bottom: 45px;
}

.images,
.subtexts {
  display: flex;
  justify-content: space-evenly;  
}

.images {
  margin-bottom: 7px;
}

.image {
  padding: 78px;
}

/* THIRD SECTION STYLING */

.third-section {
  background-color: #E5E7EB;
}

.quote {
  font-size: 36px;
  font-weight: 300;
  color: #1F2937;
}

.author {
  font-size: 24px;
  font-weight: 700;
}

/* THIRD SECTION ARRANGEMENT */

.third-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.quote,
.author {
  width: 775px;
  margin: 0 auto;  
}

.author {
  text-align: end;
}

/* FOURTH SECTION STYLING */

.fourth-section {
  background-color: #3882F6;
  border-radius: 8px;
}

.action,
.instruction {
  color: #F9FAF8;
}

.action {
  font-size: 24px;
  font-weight: 700;
}

.instruction {
  font-size: 18px;
  font-weight: 300; 
}

.fourth-section button {
  border: 2px solid #F9FAF8;
}

/* FOURTH SECTION ARRANGEMENT */

.fourth-section,
.click {
  display: flex;
}

.fourth-section {
  margin: 100px auto;
  width: 1000px;
  padding: 50px 120px;
}

.click {
  margin-left: 149px;
  align-items: center;
}

.fourth-section button {
  padding: 5px 30px;
}

/* FOOTER STYLING */

.footer {
  background-color: #1F2937;
}

.copyright {
  color: #E5E7EB;
  font-size: 18px;
}